{% extends "../base.html" %}
{% block page_title %}直推列表{% end %}


{% block content %}
<div class="countgo pull-left">
    <div class="zt">
        <!--MAN -->
        <div class="remain" style="height: 553px;">
            <div class="gao1"></div>
            <div class="page-header long-header">
                <h3>账户管理
                    <small> 推荐结构</small>
                </h3>
            </div>
            <div>
                <ol class="breadcrumb">
                    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="index.asp">主页</a>
                    </li>
                    <li><a href="#">账户管理</a></li>
                    <li class="active">推荐结构</li>
                </ol>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">推荐结构树形图</div>
                <div class="panel-body">
                    <ul id="wenjianshu" class="ztree">
                        <li id="wenjianshu_1" class="level0" tabindex="0" hidefocus="true" treenode=""><span
                                id="wenjianshu_1_switch" title="" class="button level0 switch root_docu"
                                treenode_switch=""></span><a id="wenjianshu_1_a" class="level0" treenode_a="" onclick=""
                                                             target="_blank" style=""
                                                             title="[0] 18645586611 [已激活] [VIP]"><span
                                id="wenjianshu_1_ico" title="" treenode_ico="" class="button ico_docu"
                                style="background:url(/ui/zTree_v3/css/zTreeStyle/img/diy/1_open.png) 0 0 no-repeat;"></span><span
                                id="wenjianshu_1_span" class="node_name">[0] 18645586611 [已激活] [VIP]</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--MAN End-->
    </div>
</div>
{%end%}
