<html lang="zh"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>微客农场</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://58.221.44.174:96/ui_yun/css/css.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
  body{ min-width:320px;}
  .image{ text-align:center;}
  .an{margin:0px auto 0 auto;  text-align:center;}
  .btn-danger{  background:#FF4400;}
  .btn-danger:hover{background:#F22D00;}
  .btn-danger:focus{background:#F22D00;}
  @media (max-width: 500px) {
	   .image img{ width:100%; height:auto;}
	   }
  </style></head>
<body>
<div class="image"><img src="/static/images/a2.png"></div>
<div class="an"><a class="btn btn-danger btn-lg" href="/login" target="_blank"> 登录系统 </a>
    <a class="btn btn-danger btn-lg" href="/register" target="_blank"> 注册账户 </a></div>


<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch(["/static/images/bg.jpg"], {
        fade: 100,
        duration: 100
    });

</script>

<div style="display:none;">
    <!--<script src="http://s4.cnzz.com/stat.php?id=4663522&amp;web_id=4663522" language="JavaScript"></script>-->
    <!--<script src="http://c.cnzz.com/core.php?web_id=4663522&amp;t=z" charset="utf-8" type="text/javascript"></script>-->
    <!--<a href="http://www.cnzz.com/stat/website.php?web_id=4663522" target="_blank" title="站长统计">站长统计</a></div>-->

</body>
</html>
