{% extends "../base.html" %}
{% block page_title %}wss金融互助{% end %}


{% block content %}
<body data-stat="ymtj" data-page="index" style="margin-top: -20px" data-kid="C00D8E0B-A403-4263-9D2F-6710237FB8CA">
<div class="container pb-58">
    <!--/s 头部 -->
    <!--/e 头部广告切换 -->
    <div class="f-right wrap flooright f-cf">
        <div class="f-fr wrap-r">
            <!--/s kv -->
            <div id="kv" class="kv box-shadow1" role="article" data-kid="A82D0BF3-6252-4AAF-99AA-9CC07D0A5856">
                <ul class="">
                    <li class="kv-img-item active" style="display: list-item;">
                        <a class="kv-img-item-a amat-kv-bg" href="/register" target="_self"
                           data-position="{&quot;e2&quot;:&quot;sylb&quot;,&quot;e3&quot;:&quot;sylb-5&quot;}"
                           style="background-image:url(&#39;/static/img/pop.jpg&#39;)"></a>
                    </li>
                </ul>
            </div>
            <!--/e kv -->
            <!--/e hot-game -->
            <div class="hot-game mt-20" role="article">
                <ul class="f-cf">
                    <li class="hot-game-item box-shadow2">
                        <div class="hot-game-img">
                            <a href="/help/provide" target="_self"
                               data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-1rw&quot;}"><img
                                    src="/static/img/hd1.jpg"></a>

                            <div class="hot-game-info">
                                <em class="info-mask"></em>
                                <a href="/help/provide" target="_self" class="info-href f-fl"
                                   data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-2flb&quot;}"><span
                                        class="ico-point f-fl"></span>说明：进入提供帮助界面</a>
                            </div>
                        </div>
                        <div class="hot-game-tit f-cf">
                            <a href="/help/provide" target="_self" class="btn1 btn1-orange drop-shadow"
                               data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-1xq&quot;}">提供帮助</a>
                        </div>
                    </li>
                    <li class="hot-game-item box-shadow2">
                        <div class="hot-game-img">
                            <a href="/help/get" target="_self"
                               data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-1rw&quot;}"><img
                                    src="/static/img/hd2.jpg"></a>

                            <div class="hot-game-info">
                                <em class="info-mask"></em>
                                <a href="/help/get" target="_self" class="info-href f-fl"
                                   data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-2flb&quot;}"><span
                                        class="ico-point f-fl"></span>说明：进入获得帮助界面</a>
                            </div>
                        </div>
                        <div class="hot-game-tit f-cf">
                            <a href="/help/get" target="_self" class="btn1 btn1-orange drop-shadow"
                               data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-1xq&quot;}">获得帮助</a>
                        </div>
                    </li>
                    <li class="hot-game-item box-shadow2">
                        <div class="hot-game-img">
                            <a href="/register?r={{myuser.get('uid')}}" target="_blank"
                               data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-1rw&quot;}"><img
                                    src="/static/img/hd3.jpg"></a>

                            <div class="hot-game-info">
                                <em class="info-mask"></em>
                                <a href="/register?r={{myuser.get('uid')}}" target="_blank" class="info-href f-fl"
                                   data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-2flb&quot;}"><span
                                        class="ico-point f-fl"></span>说明：注册新会员</a>
                            </div>
                        </div>
                        <div class="hot-game-tit f-cf">
                            <a href="/register?r={{myuser.get('uid')}}" target="_blank"
                               class="btn1 btn1-orange drop-shadow"
                               data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-1xq&quot;}">注册账户</a>
                        </div>
                    </li>
                    <li class="hot-game-item box-shadow2">
                        <div class="hot-game-img">
                            <a href="/help/list" target="_self"
                               data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-1rw&quot;}"><img
                                    src="/static/img/hd4.jpg"></a>

                            <div class="hot-game-info">
                                <em class="info-mask"></em>
                                <a href="/help/list" target="_self" class="info-href f-fl"
                                   data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-2flb&quot;}"><span
                                        class="ico-point f-fl"></span>说明：查看帮助匹配情况</a>
                            </div>
                        </div>
                        <div class="hot-game-tit f-cf">
                            <a href="/help/list" target="_self" class="btn1 btn1-orange drop-shadow"
                               data-position="{&quot;e2&quot;:&quot;syrmyx&quot;,&quot;e3&quot;:&quot;syrmyx-1xq&quot;}">帮助列表</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--/e hot-game -->
        </div>
    </div>
</div>
</body>

{% end %}