{% extends "base.html" %}
{% block title %}充值{% end %}
{% block content %}
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div id="wrapper">
    {% include 'admin_nav.html' %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            {% include 'header_nav.html' %}
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>充值</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">主页</a>
                    </li>
                    <li>
                        <a>用户管理</a>
                    </li>
                    <li>
                        <strong>充值</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>

                            </h5>

                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>


                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <style>
                                th:first-child,
                                .gradeX td:first-child {
                                    width: 20px;
                                    cursor: pointer;
                                }

                                th:first-child input,
                                .gradeX td:first-child input {
                                    cursor: pointer;
                                }
                            </style>

                            <!--<input type="text" id="username" name="username" onkeyup="keydownfun()"-->


                            <form method="post" id="form1" class="form-horizontal">
                                {% module xsrf_form_html() %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户名：</label>

                                    <div class="col-sm-4">
                                        <span class="form-control">{{ user_info.get('username','') }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">充值类型：</label>

                                    <div class="col-sm-8">

                                        <input type="radio" name="pay_type" value="jihuobi" checked>激活币
                                        <input type="radio" name="pay_type" value="jinbi">金币
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                <!--<label class="col-sm-2 control-label">当前激活币</label>-->

                                <!--<div class="col-sm-4">-->
                                <!--<span class="form-control">{{ user_info.get('money',0) }}</span>-->
                                <!--</div>-->
                                <!--</div>-->

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">充值数量：</label>

                                    <div class="col-sm-4">
                                        <input class="form-control" placeholder="" name="money"
                                               value="" id="money">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary project-fabu" type="submit">提交</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}
