<div class="left pull-left">

    <div class="btn-group-vertical choujiang"><a href="choujiang.asp" target="_blank"><img
            src="http://58.221.44.174:96/ui_yun/images/cj.gif"></a></div>

    <div class="btn-group-vertical">
        <ul>
            <li>
                <a class="btn btn-long {%if account_tab==1%}btn-long16{%end%}" href="/user/home" id="mlindex">
                    <span class="glyphicon glyphicon-home llong0" aria-hidden="true"></span><span
                        class="llong2">玩家首页</span></a>
            </li>


            <li>
                <a class="btn btn-long " href="#" role="button"><span
                        class="glyphicon glyphicon-piggy-bank llong0" aria-hidden="true"></span><span class="llong2">农场管理</span><span
                        class="glyphicon llong1 glyphicon-menu-down"></span></a>

                <ul class="sub-menu" style="display: block;">
                    <li><a class="btn btn-long8 btn-long32" href="/mynongchang" id="m11">我的农场</a></li>
                    <li><a class="btn btn-long8" href="/nongchangsd" id="m12">农场商店</a></li>
                </ul>

            </li>

            <li>
                <a class="btn btn-long {%if account_tab==3%}btn-long16{%end%}" href="#" role="button"><span class="glyphicon glyphicon-user llong0"
                                                                     aria-hidden="true"></span>
                    <span class="llong2">账户管理</span><span class="glyphicon glyphicon-menu-left llong1"></span></a>

                <ul class="sub-menu">
                    <li><a class="btn btn-long8" href="index.asp?go=tjjg" id="m21">推荐结构</a></li>
                    <li><a class="btn btn-long8" href="index.asp?go=zhitui" id="m22">直推列表</a></li>
                    <li><a class="btn btn-long8" href="index.asp?go=jihuo" id="m23">激活账号</a></li>
                    <li><a class="btn btn-long8" href="index.asp?go=jihuojl" id="m26">激活记录</a></li>
                </ul>

            </li>

            <li>
                <a class="btn btn-long {%if account_tab==4%}btn-long16{%end%}" href="#" role="button"><span class="glyphicon glyphicon-usd llong0"
                                                                     aria-hidden="true"></span><span
                        class="llong2">财务管理</span><span class="glyphicon glyphicon-menu-left llong1"></span></a>
                <ul class="sub-menu">
                    <li><a class="btn btn-long8" href="/jihuobi_log" id="m33">激活币收入</a></li>
                    <li><a class="btn btn-long8" href="/jihuobi_log2" id="m34">激活币支出</a></li>
                    <li><a class="btn btn-long8" href="/jinbi_log" id="m31">金币收入</a></li>
                    <li><a class="btn btn-long8" href="/jinbi_log2" id="m32">金币支出</a></li>
                </ul>
            </li>

            <li>
                <a class="btn btn-long {%if account_tab==5%}btn-long16{%end%}" href="#" role="button"><span class="glyphicon glyphicon-retweet llong0"
                                                                     aria-hidden="true"></span><span
                        class="llong2">交易系统</span><span class="glyphicon glyphicon-menu-left llong1"></span></a>
                <ul class="sub-menu">

                    <li><a class="btn btn-long8" href="index.asp?go=jinbi_guadan" id="m45">金币拍卖</a></li>
                    <li><a class="btn btn-long8" href="index.asp?go=jinbi_mai" id="m46">金币购买记录</a></li>
                    <li><a class="btn btn-long8" href="index.asp?go=jinbi_mai2" id="m47">金币卖出记录</a></li>
                    <li><a class="btn btn-long8" href="index.asp?go=zhuanjihuobi" id="m41">激活币转账</a></li>
                    <li><a class="btn btn-long8" href="index.asp?go=zhuanjinbi" id="m42">金币转账</a></li>
                    <li><a class="btn btn-long8" href="index.asp?go=maijb" id="m43">申请提现</a></li>
                    <li><a class="btn btn-long8" href="index.asp?go=jbdingdan" id="m44">提现记录</a></li>
                </ul>
            </li>

            <li>
                <a class="btn btn-long" href="#" role="button"><span class="glyphicon glyphicon-shopping-cart llong0"
                                                                     aria-hidden="true"></span><span
                        class="llong2">购买商品</span><span class="glyphicon glyphicon-menu-left llong1"></span></a>
                <ul class="sub-menu">
                    <li><a class="btn btn-long8" href="index.asp?go=cpsd" id="m51">商城购物</a></li>
                    <li><a class="btn btn-long8" href="index.asp?go=cpdd" id="m52">我的订单</a></li>
                </ul>
            </li>


        </ul>


    </div>
</div>