<style type="text/css">
    .lt_aside_nav dl dt:after {
        content: ">";
        font-family: 'adminthemesregular';
        position: absolute;
        right: 3%;
        color: #19a97b;
    }

    .lt_aside_nav dt {
        cursor: pointer;
    }

    .lt_aside_nav .active dd {
        display: block;
    }

    .lt_aside_nav dd {
        display: none;
    }

</style>
<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
    <h2><a href="/user/home">常用菜单</a></h2>
    <ul>
        <li class="item">
            <dl>
                <dt><a href="{{handler.settings['weburl']}}/register?r={{myuser.get('uid')}}" target="_blank" style="color:#333">注册新会员</a></dt>

            </dl>
        </li>
        <li class="item {% if account_tab in [2,3]%}active{%end%}">
            <dl>
                <dt>礼包管理</dt>
                <!--当前链接则添加class:active-->
                <dd><a href="/mynongchang" class="{%if account_tab==2%}active{%end%}">分红礼包查询</a></dd>
                <dd><a href="/nongchangsd" class="{%if account_tab==3%}active{%end%}">购买分红礼包</a></dd>
            </dl>
        </li>
        <li class="item {% if account_tab in [4,5,6,7,21]%}active{%end%}">
            <dl>
                <dt>账户管理</dt>
                <dd><a href="/account/tjjg" class="{%if account_tab==4%}active{%end%}">推荐结构</a></dd>
                <dd><a href="/account/zhitui" class="{%if account_tab==5%}active{%end%}">直推列表</a></dd>
                <dd><a href="/account/jihuo" class="{%if account_tab==6%}active{%end%}">激活账号</a></dd>
                <dd><a href="/account/jihuojl" class="{%if account_tab==7%}active{%end%}">激活记录</a></dd>
            </dl>
        </li>
        <li class="item {% if account_tab in [8,9,10,11]%}active{%end%}">
            <dl>
                <dt>财务管理</dt>
                <dd><a href="/account/jihuobi_log" class="{%if account_tab==8%}active{%end%}">激活币收入</a></dd>
                <dd><a href="/account/jihuobi_log2" class="{%if account_tab==9%}active{%end%}">激活币支出</a></dd>
                <dd><a href="/account/jinbi_log" class="{%if account_tab==10%}active{%end%}">金币收入</a></dd>
                <dd><a href="/account/jinbi_log2" class="{%if account_tab==11%}active{%end%}">金币支出</a></dd>
            </dl>
        </li>
        <li class="item {% if account_tab in [12,13,14,15,16,17,18]%}active{%end%}">
            <dl>
                <dt>交易系统</dt>
                <dd><a href="/trade/jinbi_guadan" class="{%if account_tab==12%}active{%end%}">金币拍卖</a></dd>
                <dd><a href="/trade/jinbi_mai" class="{%if account_tab==13%}active{%end%}">金币购买记录</a></dd>
                <dd><a href="/trade/jinbi_mai2" class="{%if account_tab==14%}active{%end%}">金币卖出记录</a></dd>
                <dd><a href="/trade/zhuanjihuobi" class="{%if account_tab==15%}active{%end%}">激活币转账</a></dd>
                <dd><a href="/trade/zhuanjinbi" class="{%if account_tab==16%}active{%end%}">金币转账</a></dd>
                <dd><a href="/trade/maijb" class="{%if account_tab==17%}active{%end%}">申请提现</a></dd>
                <dd><a href="/trade/jbdingdan" class="{%if account_tab==18%}active{%end%}">提现记录</a></dd>
            </dl>
        </li>
         <li class="item {% if account_tab in [21,22,23,24]%}active{%end%}">
            <dl>
                <dt>会员中心</dt>
                <dd><a href="/account/info" class="{%if account_tab==21%}active{%end%}">我的资料</a></dd>
                <dd><a href="/account/info_setting" class="{%if account_tab==22%}active{%end%}">修改资料</a></dd>
                <dd><a href="/account/pwd_protect" class="{%if account_tab==23%}active{%end%}">修改密保资料</a></dd>
                <dd><a href="/account/pwd_update" class="{%if account_tab==24%}active{%end%}">修改密码</a></dd>

            </dl>
        </li>

        <li class="item {% if account_tab in [19,20]%}active{%end%}">
            <dl>
                <dt>购买商品</dt>
                <dd><a href="/shop" class="{%if account_tab==19%}active{%end%}">商城购物</a></dd>
                <dd><a href="/account/orders" class="{%if account_tab==20%}active{%end%}">我的订单</a></dd>

            </dl>
        </li>

        <li class="item">
            <dl>
                <dt><a href="/logout">退出登录</a></dt>

            </dl>
        </li>
        <li>
            <p class="btm_infor">© 微客新资源 版权所有</p>
        </li>
    </ul>
</aside>
<script type="text/javascript">
    $(".lt_aside_nav dt").click(function () {
        $(this).parents("li").toggleClass("active")
    })
</script>